.aboutcurs {
  &--block {
    display: flex;
    justify-content: start;
    gap: 80px;
    padding: 100px 0 0 0;

    h1 {
      color: var(--unnamed, #ec3025);
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      // width: 400px;
    }

    &__text {
      display: grid;
      width: 632px;
      gap: 30px;
      h3 {
        color: #1b1b1b;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
      }

      p {
        color: #1b1b1b;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
      }

      a {
        position: relative;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 2px;
        color: #263238;
        &::before {
          position: absolute;
          bottom: 0;
          content: "";
          width: 0%;
          height: 0px;
          transition: width 0.3s, height 0.3s, background-color 0.3s;
        }

        &:hover::before {
          width: 10%;
          height: 1px;
          background: red;
        }
      }
    }
  }
}
