@media (max-width: 490px) {
  .aboutcurs {
    &--block {
      display: flex;
      // text-align: center;
      flex-direction: column;
      gap: 10px;
      &__text {
        width: 90%;
        gap: 14px;

        h3 {
          width: 90%;
        }
        p {
          width: 90%;
        }
      }
    }
  }
}
