#galerea {
  padding-bottom: 120px;
  .galerea {
    &__block {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 24px;
      &-img {
        // background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        background: #000;
        width: 380px;
        height: 260px;
        flex-shrink: 0;
      }
      h1 {
        color: var(--unnamed, #ec3025);
        font-size: 40px;
        font-weight: 500;
      }
      p {
        margin-top: 58%;
        color: #000;
        font-size: 20px;
        font-weight: 500;
        position: relative;
        width: 130px;
        cursor: pointer;
        &::before {
          position: absolute;
          bottom: 0;
          content: "";
          width: 0%;
          height: 0px;
          transition: width 0.3s, height 0.3s, background-color 0.3s;
        }
        &:hover::before {
          width: 90%;
          height: 2px;
          background: #111518;
        }
      }
    }
  }
}
@media (max-width: 1224px) {
  #galerea {
    .galerea {
      &__block {
        display: grid;
        grid-template-columns: repeat(2, auto);
      }
    }
  }
}
@media (max-width: 826px) {
  #galerea {
    .galerea {
      &__blcok {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
      }
      &__block {
        grid-column-start: 0;
        &-img {
          width: 100%;
          object-fit: cover;
          height: 200px;
        }
        .a {
        }
        .b {
        }
      }
    }
  }
}
@media (max-width: 526px) {
  #galerea {
    .galerea {
      &__block {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-column-start: 0;
        &-img {
          width: 100%;
          object-fit: cover;
          height: 160px;
          border-radius: 8px;
        }
        .a {
          font-size: 26px;
        }
        .b {
          font-size: 18px;
          padding-top: 30px;
        }
      }
    }
  }
}
