@media (max-width:1205px) {
    #mentory {
        padding: 120px 0 120px 0;
        .mentory {
          h2 {
            padding: 0 0 60px 0;
            text-align: center;
            width: 90%;
            font-size: 35px;
            span {
              font-size: 35px;
            }
          }
      
          &--group {
           display: flex;
           align-items: center;
           flex-wrap: wrap  ;
           justify-content:center;
            
            &__block {
              width:385px;
              height: 450px;
      
              &--img {
                width: 380px;
                text-align: center;
                img {
                }
              }
      
              h3 {
                font-size: 24px;
                text-align: start;
                line-height: normal;
                    width: 70%;
                padding: 16px 0 16px 10px;
              }
      
              p {
                font-size: 18px;
                width: 100%;
                padding: 0 0 10px 10px;
                text-align: start;
              }
            }
          }
      
          &--samai {
            padding: 120px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
      
            &__text {
              width: 362px;
      
              h3 {
                font-size: 36px;
              }
      
              p {
                font-size: 19px;
                padding: 22px 0 0 0;
                width: 300px;
              }
            }
      
            &__group {
              display: flex;
              justify-content: space-between;
              width: 800px;
            }
          }
        }
      }
      
}
@media (max-width:1150px) {
    #mentory {
        padding: 120px 0 120px 0;
        .mentory {
          h2 {
            // display: flex;
            padding: 0 0 60px 0;
            text-align: center;
            width: 90%;
            font-size: 35px;
            span {
              font-size: 35px;
            }
          }
      
        
      
          &--samai {
            padding: 120px 0 0 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            &__text {
              display: flex;
              flex-direction: column;
              width: 70%;
              text-align: center;
              h3 {
                width: 100%;
                font-size: 36px;
                padding: 16px 0 10px 10px;
              }
      
              p {
                width: 100%;
                font-size: 19px;
                padding: 22px 0 0 10px;
              }
            }
      
            &__group {
              display: flex;
              justify-content: space-between;
              width:800px;
            }
          }
        }
      }
      
}
@media (max-width:830px) {
    #mentory {
        padding: 120px 0 120px 0;
        .mentory {
          h2 {
            // display: flex;
            padding: 0 0 60px 0;
            text-align: center;
            width: 90%;
            font-size: 35px;
            span {
              font-size: 35px;
            }
          }
      
        
      
          &--samai {
            padding: 120px 0 0 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            &__text {
              display: flex;
              flex-direction: column;
              width: 70%;
              text-align: center;
              h3 {
                width: 100%;
                font-size: 36px;
                padding: 16px 0 10px 10px;
              }
      
              p {
                width: 100%;
                font-size: 19px;
                padding: 22px 0 0 10px;
              }
            }
      
            &__group {
              display: flex;
              justify-content: space-between;
              width:100%;
              gap: 20px;
              img{
                width: 49%;
              }
            }
          }
        }
      }
      
}
@media (max-width:750px) {
    #mentory {
        padding: 120px 0 120px 0;
        .mentory {
          h2 {
            // display: flex;
            padding: 0 0 60px 0;
            text-align: center;
            width: 90%;
            font-size: 30px;
            span {
              font-size: 30px;
            }
          }
      
        
      
          &--samai {
            padding: 120px 0 0 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            &__text {
              display: flex;
              flex-direction: column;
              width: 70%;
              text-align: start;
              h3 {
                width: 100%;
                font-size: 36px;
                padding: 16px 0 10px 10px;
              }
      
              p {
                width: 100%;
                font-size: 19px;
                padding: 22px 0 10px 10px;
              }
            }
      
            &__group {
              
              display: flex;
              align-items: center;
              width:70%;
            flex-wrap: wrap;
              gap: 20px;
              img{
                
              }
            }
          }
        }
      }
      
}
@media (max-width:420px) {
    #mentory {
        padding: 120px 0 120px 0;
        .mentory {
          h2 {
            padding: 0 0 60px 0;
            text-align: center;
            width: 90%;
            font-size: 25px;
            span {
              font-size: 25px;
            }
          }
      
          &--group {
           display: flex;
           align-items: center;
           flex-wrap: wrap  ;
           justify-content:center;
            
            &__block {
              width:99%;
              height: auto;
              padding: 5px 10px 20px 10px;   
              &--img {
                width: 100%;
                text-align: center;
                img {
                }
              }
      
              h3 {
                font-size: 20px;
                text-align: start;
                line-height: normal;
                    width: 100%;
                padding: 16px 0 10px 10px;
              }
      
              p {
                font-size: 16px;
                width: 100%;
                text-align: start;
                padding: 0 0  10px 10px;
              }
            }
          }
      
          &--samai {
            padding: 120px 0 0 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            &__text {
              display: flex;
              flex-direction: column;
              width: 70%;
              text-align: center;
              h3 {
                width: 100%;
                font-size: 26px;
                padding: 16px 0 16px 10px;

              }
      
              p {
                width: 100%;
                font-size: 16px;
                padding: 22px 0 10px 10px;
              }
            }
      
            &__group {
              display: flex;
              align-items: center;
              width:70%;
            flex-wrap: wrap;
              gap: 20px;
              img{
                width: 100%;
              }
            }
          }
        }
      }
      
}