@media (max-width:1240px) {
    #otzyv {
        .otzyv {
          display: flex;
          padding: 100px 0 100px 75px;
          flex-direction: column;
          &--text {
            width: 481px;
            margin: 0 30px 0 2px;
            display: flex;
            align-items: center;
            h3 {
              font-size: 26px;
            }
      
            &__icon {
              width: 120px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 6px 0 0 96px;
              .icon {
                font-size: 40px;
              }
            }
          }
          &--slid {
            &__group {
              width: 800px;
            }
      
            &__block {
            //   width: 360px;
            //   margin: 0 20px;
            //   border: 2px solid red;
              img {
                height: 240px;
                width: 90%;
              }
            }
          }
        }
      }
      
}
@media (max-width:905px) {
    #otzyv {
        .otzyv {
          display: flex;
          padding: 100px 0 100px 45px;
          flex-direction: column;
          &--text {
            width: 481px;
            margin: 0 30px 0 2px;
            display: flex;
            align-items: center;
            h3 {
              font-size: 26px;
            }
     
            &__icon {
              width: 120px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 6px 0 0 77px;
              .icon {
                font-size: 40px;
              }
            }
          }
          &--slid {
            &__group {
              width: 436px;
            }
            
            &__block {
            //   width: 360px;
            //   margin: 0 20px;
            //   border: 2px solid red;
              img {
                height: 240px;
                width: 90%;
              }
            }
          }
        }
      }
      
}
@media (max-width:540px) {
    #otzyv {
        .otzyv {
          display: flex;
          padding: 100px 0 100px 20px;
          flex-direction: column;
          &--text {
            width: 248px;
            margin: 0 30px 0 29px;
            display: flex;
            flex-direction: column;
            align-items: start;
            height: 120px;
            // justify-content: start;
            h3 {
              font-size: 22px;
            }
     
            &__icon {
                width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 22px 0 0 108px;
              .icon {
                font-size: 30px;
              }
            }
          }
          &--slid {
            &__group {
              width: 436px;
            }
            
            &__block {
            //   width: 360px;
            //   margin: 0 20px;
            //   border: 2px solid red;
              img {
                height: 240px;
                width: 90%;
              }
            }
          }
        }
      }
      
}
@media (max-width:490px) {
    #otzyv {
        .otzyv {
          display: flex;
          padding: 100px 0 100px 20px;
          flex-direction: column;
          &--text {
            width: 248px;
            margin: 0 30px 0 29px;
            display: flex;
            flex-direction: column;
            align-items: start;
            height: 120px;
            // justify-content: start;
            h3 {
              font-size: 22px;
            }
     
            &__icon {
                width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 22px 0 0 108px;
              .icon {
                font-size: 30px;
              }
            }
          }
          &--slid {
            &__group {
            //   width: 360px;
            width: 90%;
            }
            
            &__block {
            //   width: 360px;
            //   margin: 0 20px;
            //   border: 2px solid red;
              img {
                height: 240px;
                width: 90%;
              }
            }
          }
        }
      }
      
}
@media (max-width:360px) {
    #otzyv {
        .otzyv {
          display: flex;
          padding: 100px 0 100px 1px ;
          flex-direction: column;
          &--text {
            width: 248px;
            margin: 0 30px 0 19px;
            display: flex;
            flex-direction: column;
            align-items: start;
            height: 120px;
            // justify-content: start;
            h3 {
              font-size: 20px;
            }
     
            &__icon {
                width: 90px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 22px 0 0 108px;
              .icon {
                font-size: 30px;
              }
            }
          }
          &--slid {
            &__group {
            width: 90%;
            }
            
            &__block {
              img {
                height: 200px;
                width: 90%;
              }
            }
          }
        }
      }
      
}
  