@media (max-width:1200px) {
    #program {
        padding: 120px 0 100px 0;
        .program {
          
          &--title {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-between;
            padding: 0 0 52px 0;
            gap: 20px;
      
            h3 {
              font-size: 40px;
              width: 90%;
              margin: 0 auto;
            }
      
            p {
              font-size: 19px;
              margin: 0 auto;
              width: 80%;
            }
          }
      
          &--group{
          &__block {
            margin: 0 0 20px 0;
            &--ims{
              padding: 25px 20px 20px 15px;
              &__img {
                display: flex;
                justify-content: space-between;
                align-items: start;
      
                &--vden {
                  display: flex;
                  align-items: start;
                  gap: 31px;
                  img {}
      
                  h3 {
                    text-align: center;
                    font-size: 24px;
                  }
                }
              }
      
              &__text {
                display: flex;
                align-items: start;
                justify-content: center;
                gap: 64px;
      
                &--grou {
                  width: 692px;
                  padding: 0 0 0 75px;
      
                  p {
                    font-size: 19px;
                    padding: 0 0 10px 0;
                  }
      
                  ul {
                    
                    padding: 0 0 0 25px;
                    li {
                      font-size: 19px;
                      position: relative;
                      &::before{
                        position: absolute;
                        content: '';
                        width: 6px;
                        height: 6px;
                        left: -15px;
                        top: 10px;
                      }
                    }
                  }
                }
      
                img {
                  margin-right: -40px;
                  display: none;
                }
              }
            }
          }
         }
        }
      
      }
}
@media (max-width:500px) {
    #program {
        padding: 100px 0 100px 0;
        .program {
          
          &--title {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-between;
            padding: 0 0 52px 0;
            gap: 20px;
      
            h3 {
              font-size: 32px;
              width: 90%;
              margin: 0 auto;
            }
      
            p {
              font-size: 18px;
              margin: 0 auto;
              width: 80%;
            }
          }
      
          &--group{
          &__block {
            margin: 0 0 20px 0;
            &--ims{
              padding: 25px 20px 20px 15px;
              &__img {
                display: flex;
                justify-content: space-between;
                align-items: start;
      
                &--vden {
                  display: flex;
                  align-items: start;
                  gap: 10px;
                  img {
                    width: 10%;
                  }
      
                  h3 {
                    text-align: center;
                    font-size: 16px;
                   
                  }
                }
              }
      
              &__text {
                display: flex;
                align-items: start;
                justify-content: center;
                gap: 64px;
      
                &--grou {
                  width: 692px;
                  padding: 0 0 0 35px;
      
                  p {
                    font-size: 14px;
                    padding: 0 0 10px 0;
                  }
      
                  ul {
                    padding: 0 0 0 25px;
                    li {
                      font-size: 14px;
                      position: relative;
                      &::before{
                        position: absolute;
                        content: '';
                        width: 6px;
                        height: 6px;
                        left: -15px;
                        top: 10px;
                      }
                    }
                  }
                }
      
                img {
                  margin-right: -40px;
                  display: none;
                }
              }
            }
          }
         }
        }
      
      }
}
@media (max-width:400px) {
    #program {
        padding: 100px 0 100px 0;
        .program {
          
          &--title {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-between;
            padding: 0 0 52px 0;
            gap: 20px;
      
            h3 {
              font-size: 32px;
              width: 90%;
              margin: 0 auto;
            }
      
            p {
              font-size: 18px;
              margin: 0 auto;
              width: 80%;
            }
          }
      
          &--group{
          &__block {
            margin: 0 0 20px 0;
            &--ims{
              padding: 25px 20px 20px 15px;
              &__img {
                display: flex;
                justify-content: space-between;
                align-items: start;
      
                &--vden {
                  display: flex;
                  align-items: start;
                  gap: 10px;
                  img {
                    width: 10%;
                  }
      
                  h3 {
                    text-align: center;
                    font-size: 18px;
                   
                  }
                }
              }
      
              &__text {
                display: flex;
                align-items: start;
                justify-content: center;
                gap: 64px;
      
                &--grou {
                  width: 692px;
                  padding: 0 0 0 35px;
      
                  p {
                    font-size: 14px;
                    padding: 0 0 10px 0;
                  }
      
                  ul {
                    padding: 0 0 0 25px;
                    li {
                      font-size: 14px;
                      position: relative;
                      &::before{
                        position: absolute;
                        content: '';
                        width: 6px;
                        height: 6px;
                        left: -15px;
                        top: 10px;
                      }
                    }
                  }
                }
      
                img {
                  margin-right: -40px;
                  display: none;
                }
              }
            }
          }
         }
        }
      
      }
}