#goodState {
  h1 {
    padding: 70px 0 40px 0;
    color: #ff002e;
    font-size: 40px;
    font-weight: 800;
  }
  .goodState {
    display: grid;
    grid-template-columns: repeat(3, auto);
    // grid-gap: 15px;
    width: 100%;
  }

}
@media (max-width: 1200px) {
  #goodState {
    h1 {
      font-size: 24px;
      text-align: center;
    }
    .goodState {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
