.kursy {
    background: #EFEFEF;
    padding: 0 0 100px 0;
    &--izyk {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
        padding: 200px 0 0 0;

        &__front {
            text-align: center;

            &--block {
                border-radius: 30px 30px 0px 0px;
                background: var(--unnamed, linear-gradient(114deg,
                            #FFA800 46.00%, rgba(255, 169, 3, 0.50) 100%));
                height: 160px;
                width: 340px;

                img {
                    margin: -112px 0 0 0;
                }
            }

            &--group {
                width: 340px;
                padding: 23px 0 30px 25px;
                box-sizing: border-box;
                text-align: start;
                gap: 20px;
                display: grid;
                border-radius: 0px 0px 30px 30px;
                background: #FFF;

                h2 {
                    color: #030303;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                p {
                    color: var(--unnamed, rgba(27, 27, 27, 0.80));
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                }

                &__btns {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;

                    button {
                        color: #000;
                        font-size: 18px;
                        padding: 5px 8px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130.023%;
                        background: none;
                        border-radius: 30px;
                        border: 1px solid #000;
                        transition: .4s;
                    }
                    button:hover{
                        transform: scale(1.1);
                    }
                }

                &__btn {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .btn1 {
                        width: 290px;
                        height: 40px;
                        border-radius: 44px;
                        font-size: 20px;
                        background: none;
                        color: #EC3025;
                        transition: .4s;
                        border: 1px solid var(--red, #EC3025);
                    }

                    .btn1:hover {
                        background: #ec2f253a;
                    }

                    .btn2:hover:hover {
                        background: #000000;
                    }

                    .btn2 {
                        width: 290px;
                        height: 40px;
                        border-radius: 44px;
                        background: var(--red, #EC3025);
                        color: #FFF;
                        font-size: 20px;
                        transition: .4s;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                }
            }
        }
    }

    &--block {
        display: flex;
        justify-content: center;
        padding: 120px 0 0 0;
        gap: 35px;
        &__boy {
            height: 186px;
            width: 340px;
            border-radius: 30px;
            background: var(--blck, linear-gradient(130deg, #000 35.42%, rgba(31, 31, 31, 0.90) 100%));
            align-self: flex-end;
            position: relative;
            img {
                margin-top: -145px;
                margin-left: 25px;
                z-index: 2;
                width: 220px;
                position: relative;
            }

            p {
                right: 20px;
                bottom: 52px;
                z-index: 1;
                transform: rotate(-19deg);
                position: absolute;
                color: #FFF;
                padding: 10px 20px;
                border-radius: 30px;
                background: #4886FF;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
            }
        }

        &__text {
            display: flex;
            align-items: center;
            width: 700px;
            height: 330px;
            border-radius: 30px;
            background: var(--2, #FF563F);
            padding: 0 0 0 39px;
            box-sizing: border-box;

            &--group {
                display: flex;
                width: 303px;
                flex-direction: column;
                justify-content: center;
                padding: 0 0 35px 0;

                h2 {
                    color: #FFF;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 0 0 15px 0;
                }

                p {
                    color: rgba(255, 255, 255, 0.80);
                    font-size: 17.5px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }
            }

            &--group2 {
                width: 341px;
                padding: 0 0 0 15px;
                h2 {
                    color: #FFF;
                    // width: 353px;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;

                }

                button {
                    color: #F00;
                    border-radius: 44px;
                    width: 300px;
                    height: 40px;
                    margin: 30px 0 0 0;
                    background: var(--unnamed, #F8F8F8);
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    transition: .4s;
                }

                button:hover {
                    background: var(--2, #FF563F);
                    color: rgb(255, 255, 255);
                    border: 1px solid rgb(255, 255, 255);
                }
            }
        }
    }
}









.begu {
    background: #ec3025;
    height: 75px;
    border-radius: 5px;

}

.begu2 {
    background: #0d7ecf;
    height: 60px;
    overflow: hidden;
    position: relative;
    transform: rotateZ(-2deg);
    margin: 10px 0 0 0;
    border-radius: 5px;
}

.img2 {
    transform: rotateZ(2deg);
    position: absolute;
    top: -52px;
}