#DetailFront {
  .DetailFront {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    img{
      width: 50%;
      margin: 50px auto;
      object-fit: contain;
    }
    h1 {
      color: var(--unnamed, #ec3025);
      font-size: 36px;
      font-weight: 400;
      padding: 40px 0;
    }
    p{
      padding: 15px 0 25px;
    }
  }
}
