#header {
  position: sticky;
  top: 0;
  padding: 37px 0;
  background: #fff;
  backdrop-filter: blur(5px);
  z-index: 109;
  .header {
    &:hover {
      background: var(--hover-color);
    }

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu {
        display: flex;
        justify-content: center;
        gap: 40px;

        .okurs {
          .ulgr {
            display: none;
          }

          &:hover {
            .ulgr {
              display: block;
              width: 140px;
            }
          }
        }

        // a {
        //   font-size: 15px;
        //   font-weight: 400;
        //   padding: 8px 0;
        //   transition: 0.4s;
        //   color: #000;
        // }
        a {
          position: relative;
          text-decoration: none;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 1px;
          color: #263238;
          &::before {
            position: absolute;
            bottom: 0;
            content: "";
            width: 0%;
            height: 0px;
            transition: width 0.3s, height 0.3s, background-color 0.3s;
          }

          &:hover::before {
            width: 90%;
            height: 1px;
            background: red;
          }
        }
        .active {
          color: rgb(225, 10, 10) !important;
        }

        .nav-close-btn {
          opacity: 0;
        }
        .li {
          width: 100%;
          cursor: pointer;
        }
      }
      &__language {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        .dark {
          font-size: 20px;
          margin-right: 10px;
          &:hover {
            background: #a09b9b;
            border-radius: 8px;
          }
        }
        .icon {
          font-size: 18px;
        }
        .selected {
          color: red;
          cursor: pointer;
        }

        .nav-btn {
          padding: 5px;
          font-size: 26px;
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }
}

@media (max-width: 860px) {
  #header {
    .header {
      .nav {
        .menu {
          position: fixed;
          width: 100%;
          height: 100vh;
          top: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 0 auto;
          transition: 0.8s;
          transform: translateX(-100vh);
          opacity: 0.9;
          .okurs {
            .ulgr {
              display: none;
            }

            &:hover {
              .ulgr {
                display: block;
                width: 140px;
                margin-top: 10px;
              }
            }
          }
          a {
            color: #fff;
            font-size: 2rem;
            font-weight: 500;
            padding: 8px 0;
            transition: 0.4s;
          }

          .nav-close-btn {
            position: absolute;
            top: 5%;
            right: 25px;
            font-size: 24px;
            z-index: 99;
            opacity: 1;
            width: 32px;
            color: #fff;
            height: 32px;
            &::after {
              position: absolute;
              left: 15px;
              content: " ";
              height: 33px;
              width: 2px;
              background-color: #333;
              transform: rotate(45deg);
            }
            &::before {
              position: absolute;
              left: 15px;
              content: " ";
              height: 33px;
              width: 2px;
              background-color: #333;
              transform: rotate(-45deg);
            }
          }
        }
        .responsive_nav {
          transform: none;
        }

        &__language {
          .icon {
            display: none;
          }

          display: flex;
          align-items: center;

          .nav-btn {
            visibility: visible;
            opacity: 1;
            padding-left: 30px;
            li {
              width: 30px;
              height: 2px;
              background: #333;
              margin: 4px 0;
            }
            .li {
              width: 25px;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
