#header {
  padding: 37px 0;
  .header {
    &:hover{
      background: var(--hover-color);
    }
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
     
      .menu {
        display: flex;
        justify-content: center;
        gap: 40px;
        a {
          color: rgba(27, 27, 27, 0.6);
          font-size: 15px;
          font-weight: 400;
         
        }
        .active {
          color: #ec3025;
          text-transform: capitalize;
        }
      }
      &__language {
        display: flex;
        gap: 5px;
        .icon {
          font-size: 18px;
        }
        .burger {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 860px) {
  #header {
    .header {
      .nav {
        .menu {
          display: none;
        }
        &__language {
          .icon {
            display: none;
          }
          display: flex;
          align-items: center;
          .burger {
            display: block;
            padding-left: 25px;
            li {
              border: 1px solid #000;
              margin: 3px 0;
              width: 28px;
            }
            .li {
              width: 23px;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
