@keyframes ldio-ocuvgvoju6 {
  0% {
    transform: scale(1.1700000000000002);
  }
  100% {
    transform: scale(1);
  }
}
.ldio-ocuvgvoju6 div {
  position: absolute;
  // width: 408px;
  // height: 408px;
  top: 14.666666666666664px;
  left: 14.666666666666664px;
  // background: #e15b64;
  animation: ldio-ocuvgvoju6 0.47393364928909953s cubic-bezier(0, 0.5, 0.5, 1)
    infinite;
  animation-delay: -0.14218009478672985s;
}
.ldio-ocuvgvoju6 div img {
  width: 408px;
}
.ldio-ocuvgvoju6 div:nth-child(2) {
  top: 14.666666666666664px;
  left: 107.33333333333334px;
  background: #f47e60;
  animation-delay: -0.09478672985781991s;
}
.ldio-ocuvgvoju6 div:nth-child(3) {
  top: 107.33333333333334px;
  left: 14.666666666666664px;
  background: #abbd81;
  animation-delay: 0s;
}
.ldio-ocuvgvoju6 div:nth-child(4) {
  top: 107.33333333333334px;
  left: 107.33333333333334px;
  background: #f8b26a;
  animation-delay: -0.047393364928909956s;
}
.loadingio-spinner-cube-sn5w2l0d64e {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-ocuvgvoju6 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ocuvgvoju6 div {
  box-sizing: content-box;
}
