@media (max-width:1240px) {
    .obucheni {
        width: 100%;
        &--group {
            border-radius: 125px;
            padding: 44px 76px;
            margin: 80px 0 120px 0;
            width: 99%;
      
          &__block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--grou {
              text-align: center;
              p {
                font-size: 64px;
              }
      
              span {
                font-size: 24px;
                padding: 5px 0 0 0;
              }
            }
          }
        }
      
        &--modal {
          display: flex;
          padding: 0 0 120px 0;
          justify-content: space-between;
          &__ofline {
            width: 49%;
            height: 205px;
            display: flex;
            align-items: center;
            justify-content: center;
            h2 {
              font-size: 36px;
            }
          }
      
          &__online {
            width: 49%;
            height: 205px;
            display: flex;
            align-items: center;
            justify-content: center;
      
            h2 {
              font-size: 36px;
            }
          }
      
          .ofli {
            width: 590px;
            height: 468px;
            top: -520px;
            left: 300px;
            h2 {
              font-size: 40px;
              padding: 42px 0 24px 89px;
            }
      
            ol {
              li {
                padding: 0 0 16px 69px;
                width: 428px;
              }
            }
          }
      
          .onli {
            width: 590px;
            height: 468px;
            top: -520px;
            right: 325px;
      
            h2 {
              padding: 42px 0 24px 89px;
              font-size: 40px;
              font-weight: 500;
            }
      
            ol {
              li {
                padding: 0 0 16px 69px;
                font-size: 24px;
                width: 528px;
              }
            }
          }
        }
      }
      
}
@media (max-width:1120px) {
    .obucheni {
        width: 100%;
        &--group {
            border-radius: 125px;
            padding: 44px 56px;
            margin: 80px 0 120px 0;
            width: 99%;
      
          &__block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--grou {
              text-align: center;
              p {
                font-size: 54px;
              }
      
              span {
                font-size: 20px;
                padding: 5px 0 0 0;
              }
            }
          }
        }
      
        &--modal {
          display: flex;
          padding: 0 0 120px 0;
          justify-content: space-between;
          &__ofline {
            width: 49%;
            height: 205px;
            display: flex;
            align-items: center;
            justify-content: center;
            h2 {
              font-size: 36px;
            }
          }
      
          &__online {
            width: 49%;
            height: 205px;
            display: flex;
            align-items: center;
            justify-content: center;
      
            h2 {
              font-size: 36px;
            }
          }
      
          .ofli {
            width: 590px;
            height: 468px;
            top: -520px;
            left: 300px;
            h2 {
              font-size: 40px;
              padding: 42px 0 24px 89px;
            }
      
            ol {
              li {
                padding: 0 0 16px 69px;
                width: 428px;
              }
            }
          }
      
          .onli {
            width: 590px;
            height: 468px;
            top: -520px;
            right: 325px;
      
            h2 {
              padding: 42px 0 24px 89px;
              font-size: 40px;
              font-weight: 500;
            }
      
            ol {
              li {
                padding: 0 0 16px 69px;
                font-size: 24px;
                width: 528px;
              }
            }
          }
        }
      }
      
}
@media (max-width:950px) {
    .obucheni {
        width: 100%;
        &--group {
            border-radius: 125px;
            padding: 44px 56px;
            margin: 80px 0 120px 0;
            width: 99%;
      
          &__block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--grou {
              text-align: center;
              p {
                font-size: 44px;
              }
      
              span {
                font-size: 20px;
                padding: 5px 0 0 0;
              }
            }
          }
        }
      
        &--modal {
          display: flex;
          padding: 0 0 120px 0;
          justify-content: space-between;
          &__ofline {
            width: 49%;
            height: 205px;
            display: flex;
            align-items: center;
            justify-content: center;
            h2 {
              font-size: 36px;
            }
          }
      
          &__online {
            width: 49%;
            height: 205px;
            display: flex;
            align-items: center;
            justify-content: center;
      
            h2 {
              font-size: 36px;
            }
          }
      
          .ofli {
            width: 50%;
            height: 468px;
            top: -520px;
            left: 0;
            h2 {
              font-size: 40px;
              padding: 32px 0 24px 29px;
            }
      
            ol {
              li {
                padding: 0 0 16px 29px;
                width: 90%;
              }
            }
          }
      
          .onli {
            width: 50%;
            height: 468px;
            top: -520px;
            right: 0;
            h2 {
                font-size: 40px;
                padding: 32px 0 24px 29px;
            }
      
            ol {
              li {
                padding: 0 0 16px 29px;
                width: 90%;
              }
            }
          }
        }
      }
      
}
@media (max-width:850px) {
    .obucheni {
        width: 100%;
        &--group {
            border-radius: 125px;
            padding: 34px 36px;
            margin: 80px 0 120px 0;
            width: 99%;
      
          &__block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--grou {
              text-align: center;
              p {
                font-size: 40px;
              }
      
              span {
                font-size: 18px;
                padding: 5px 0 0 0;
              }
            }
          }
        }
      
        &--modal {
          display: flex;
          padding: 0 0 120px 0;
          justify-content: space-between;
          &__ofline {
            width: 49%;
            height: 205px;
            display: flex;
            align-items: center;
            justify-content: center;
            h2 {
              font-size: 36px;
            }
          }
      
          &__online {
            width: 49%;
            height: 205px;
            display: flex;
            align-items: center;
            justify-content: center;
      
            h2 {
              font-size: 36px;
            }
          }
      
          .ofli {
            width: 50%;
            height: 468px;
            top: -520px;
            left: 0;
            h2 {
              font-size: 40px;
              padding: 32px 0 24px 29px;
            }
      
            ol {
              li {
                padding: 0 0 16px 29px;
                width: 90%;
              }
            }
          }
      
          .onli {
            width: 50%;
            height: 468px;
            top: -520px;
            right: 0;
            h2 {
                font-size: 40px;
                padding: 32px 0 24px 29px;
            }
      
            ol {
              li {
                padding: 0 0 16px 29px;
                width: 90%;
              }
            }
          }
        }
      }
      
}
@media (max-width:740px) {
    .obucheni {
        width: 100%;
        &--group {
            border-radius: 125px;
            padding: 34px 36px;
            margin: 60px 0 90px 0;
            width: 99%;
      
          &__block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--grou {
              text-align: center;
              p {
                font-size: 30px;
              }
      
              span {
                font-size: 16px;
                padding: 5px 0 0 0;
              
              }
            }
          }
        }
      
        &--modal {
          display: flex;
          padding: 0 0 120px 0;
          justify-content: space-between;
          &__ofline {
            width: 49%;
            height: 175px;
            display: flex;
            align-items: center;
            justify-content: center;
            h2 {
              font-size: 30px;
            }
          }
      
          &__online {
            width: 49%;
            height: 175px;
            display: flex;
            align-items: center;
            justify-content: center;
      
            h2 {
              font-size: 30px;
            }
          }
      
          .ofli {
            width: 50%;
            height: 468px;
            top: -520px;
            left: 0;
            h2 {
              font-size: 30px;
              padding: 32px 0 24px 29px;
            }
      
            ol {
              li {
                padding: 0 0 16px 29px;
                width: 90%;
              }
            }
          }
      
          .onli {
            width: 50%;
            height: 468px;
            top: -520px;
            right: 0;
            h2 {
                font-size: 30px;
                padding: 32px 0 24px 29px;
            }
      
            ol {
              li {
                padding: 0 0 16px 29px;
                width: 90%;
              }
            }
          }
        }
      }
      
}
@media (max-width:640px) {
    .obucheni {
        width: 100%;
        &--group {
            border-radius: 35px;
            padding: 34px 36px;
            margin: 60px auto 90px auto;
            width: 50%;
            &__block {
                display: flex;
                gap: 30px;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            &--grou {
              text-align: center;
              p {
                font-size: 40px;
              }
      
              span {
                font-size: 20px;
                padding: 5px 0 0 0;
              
              }
            }
          }
        }
      
        &--modal {
          display: flex;
          padding: 0 0 120px 0;
          align-items: center;
          gap: 10px;
          flex-direction: column;
          justify-content: center;
          &__ofline {
            width: 90%;
            height: 175px;
            display: flex;
            align-items: center;
            justify-content: center;
            h2 {
              font-size: 30px;
            }
          }
      
          &__online {
            width: 90%;
            height: 175px;
            display: flex;
            align-items: center;
            justify-content: center;
      
            h2 {
              font-size: 30px;
            }
          }
      
          .ofli {
            width: 90%;
            height: 468px;
            top: -520px;
            left: 30px;
            h2 {
              font-size: 30px;
              padding: 32px 0 24px 29px;
            }
      
            ol {
              li {
                padding: 0 0 16px 29px;
                width: 90%;
              }
            }
          }
      
          .onli {
            width: 90%;
            height: 468px;
            top: -520px;
            right: 30px;
            h2 {
                font-size: 30px;
                padding: 32px 0 24px 29px;
            }
      
            ol {
              li {
                padding: 0 0 16px 29px;
                width: 90%;
              }
            }
          }
        }
      }
      
}
@media (max-width:450px) {
    .obucheni {
        width: 100%;
        &--group {
            border-radius: 35px;
            padding: 34px 36px;
            margin: 60px auto 90px auto;
            width: 70%;
            &__block {
                display: flex;
                gap: 30px;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            &--grou {
              text-align: center;
              p {
                font-size: 40px;
              }
      
              span {
                font-size: 20px;
                padding: 5px 0 0 0;
              
              }
            }
          }
        }
      
        &--modal {
          display: flex;
          padding: 0 0 120px 0;
          align-items: center;
          gap: 10px;
          flex-direction: column;
          justify-content: center;
          &__ofline {
            width: 90%;
            height: 135px;
            display: flex;
            align-items: center;
            justify-content: center;
            h2 {
              font-size: 30px;
            }
          }
      
          &__online {
            width: 90%;
            height: 135px;
            display: flex;
            align-items: center;
            justify-content: center;
      
            h2 {
              font-size: 30px;
            }
          }
      
          .ofli {
            width: 90%;
            height: 468px;
            top: -520px;
            left: 30px;
            h2 {
              font-size: 30px;
              padding: 32px 0 24px 29px;
            }
      
            ol {
              li {
                padding: 0 0 16px 29px;
                width: 90%;
              }
            }
          }
      
          .onli {
            width: 90%;
            height: 468px;
            top: -520px;
            right: 30px;
            h2 {
                font-size: 30px;
                padding: 32px 0 24px 29px;
            }
      
            ol {
              li {
                padding: 0 0 16px 29px;
                width: 90%;
              }
            }
          }
        }
      }
      
}