#footer {
  background: var(--unnamed, #090a0c);
  .footer {
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 80px 0 110px 0;
      &__wrap {
        display: flex;
        flex-direction: column;
        gap: 60px;
        &-block {
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-icons {
            display: flex;
            gap: 15px;
            color: #fff;
            .icon {
              width: 30px;
              height: 30px;
              padding: 5px;
              font-size: 8px;
              border-radius: 50%;
              background: #fff;
              z-index: 0;
              color: #000;
            }
          }
        }
        .menu {
          display: flex;
          gap: 90px;
          &__item {
            display: flex;
            flex-direction: column;
            gap: 14px;
            a {
              color: #fff;
              font-size: 18px;
              font-weight: 400;
            }
            &-left {
              display: flex;
              flex-direction: column;
              gap: 14px;
              text-align: right;
              a {
                color: #fff;
                font-size: 18px;
                font-weight: 400;
              }
            }
            .curs {
              color: rgba(255, 255, 255, 0.8);
              font-size: 18px;
              font-weight: 300;
              line-height: 130%; /* 23.4px */
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1140px) {
  #footer {
    .footer {
      .nav {
        display: flex;
        margin: 0 auto;
        flex-direction: column-reverse;
        gap: 50px;
        width: 100%;
        &__wrap {
        }
        .menu {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 auto;
          &__item {
            &-left {
              // margin: 0 auto;
              // display: flex;
              // justify-content: center;
            }
          }
        }
        iframe {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 698px) {
  #footer {
    .footer {
      .nav {
        display: flex;
        margin: 0 auto;
        flex-direction: column-reverse;
        gap: 50px;
        width: 100%;
        &__wrap {
        }
        .menu {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin: 0 auto;
          &__item {
            &-left {
              text-align: center;
              margin: 0 auto;
            }
          }
        }
        iframe {
          width: 100%;
        }
      }
    }
  }
}
