#mentory {
  background: #efefef;
  padding: 120px 0 120px 0;

  .mentory {
    // text-align: center;
    h2 {
      padding: 0 0 60px 0;
      text-align: center;
      margin: 0 auto;
      color: #000;
      font-family: Muller;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      span {
        color: var(--unnamed, #ec3025);
        text-align: center;
        font-family: Muller;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    &--group {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 38px;
      padding-bottom: 80px;

      &__block {
        max-width: 379px;
        border-radius: 30px 30px 10px 10px;
        box-sizing: border-box;
        position: relative;
        img {
          text-align: center;
          border-radius: 20px;
          background: var(
            --unnamed,
            linear-gradient(180deg, #edf1ff 0%, rgba(203, 214, 255, 0.65) 100%)
          );
          border-radius: 20px;
          width: 380px;
          height: 308px;
        }

        h3 {
          color: #000;
          font-family: SF Pro Display;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          text-align: start;
          line-height: normal;
          padding: 16px 0 16px 10px;
        }

        p {
          color: rgba(27, 27, 27, 0.8);
          font-family: SF Pro Display;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          padding: 0 0 0 10px;
          text-align: start;
          line-height: 130%;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  #mentory {
    .mentory {
      &--group {
        &__block {
          img{
            width: 100%;
          }
          &--text {
          }
        }
      }
    }
  }
}
