#quashin{
  background: #F8F8F8;
  padding: 100px 0 100px 0;
  .h2{
    color: var(--unnamed, #EC3025);
font-family: Muller;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 0 0 0 60px;
display: none;
  }
  .quashin {
    display: flex;
    justify-content: space-between;
    &--h1 {
      color: var(--unnamed, #EC3025);
font-family: Muller;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 0 0 0 60px;
    }
  
  
    &--group {
      height: auto;
      margin: 0 0 0 40px;
      &__block {
        color: rgb(27, 21, 21);
        width: 90%;
        padding: 19px 0 38px 18px;
        box-sizing: border-box;
        margin: 0 0 20px 0;
        border-radius: 30px;
        transition: 0.4s ;
        background: #FFF;
        &--span {
          cursor: pointer;  
          .par {
            width: 100%;
            padding: 0 10px 0 0 ;
            box-sizing: border-box;
          }
          p {
            color: rgb(41, 40, 40);
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            height: 50%;
            padding: 0 25px 18px 0;
          }
          span {
            color: rgb(41, 40, 40);
          }
        }
      }
    }
  }
  
}