#blog {
  h1 {
    color: var(--unnamed, #ec3025);
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 54px;
  }
  .blog {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
  }
}
@media (max-width: 1200px) {
  #blog {
    h1 {
      font-size: 24px;
      text-align: center;
    }
    .blog {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}
