#blog {
  h1 {
    color: var(--unnamed, #ec3025);
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 54px;
  }
  .blog {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
  }
  .btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid #ec3025;
    width: 190px;
    padding: 10px 40px;
    margin-top: 20px;
    background: none;
    cursor: pointer;
    &:hover {
      background: red;
      color: #fff;
      transition: 0.3s;
    }
    button {
      color: #fe1406;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px; /* 171.429% */
    }
  }
}
@media (max-width: 1200px) {
  #blog {
    h1 {
      font-size: 24px;
      text-align: center;
    }
    .blog {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}
