#ourCurces {
  background: #efefef;

  .ourCurces {
    &__block {
      padding-top: 80px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      align-items: center;
      flex-wrap: wrap;
      gap: 40px;
    }
  }
}
