@media (max-width:1150px) {
    #ourCurces {
        .ourCurces {
          &__block {
            display: grid;
            grid-template-columns: repeat(2, auto);
            justify-content: space-evenly;
          }
        }
      }
      
}